/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/***********header_area**********/
.top_header{position:relative;}
.header-area{}
.header-bg{background-image: url(../img/restauran1t.png);
top: 0;
left: 0;
position: absolute;
height: 100%;
width: 100%;
background-size: cover;
}
.main_menu{     margin-bottom: -72px;
    padding: 35px 85px 35px 0;
    position: relative;}
.header-area-text {}
.header-text{ padding: 100px 0;}
.header-text h2{font-size: 90px;
color: #ffffff;

}
.logo{}
.logo img{     padding: 12px 0;
    margin-bottom: -83px;
}
.navbar-nav li a{color: #FFFFFF;
font-size: 21px}
.navbar-nav li a:hover{background:transparent;}
.header-text h2{background-image: url(../img/restauran2t.png);
background-repeat: no-repeat;
background-position: center bottom;
padding-bottom: 70px;
  margin-bottom: 40px;
}
.header-text a{}
.main_menu.nav.navbar li{position:relative;}
.main_menu.nav.navbar li::before{position:absolute;height:3px;
width:100%;}
.btn-filled1{      background-image: url(../img/Untitled-ww1.png);
    color: #fff;
    font-size: 18px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 11px 27px;
    text-transform: uppercase);
}
.btn-filled1.as{background-image: url(../img/Untitled-ww2.png);}
.btn-filled1:hover{color:#fff;
text-decoration:none;}


.social-link{   position: absolute;
    right: 0;
    top: 51px;}
.social-link a{    color: #d8b13e;
    display: inline-block;
    font-size: 18px;
    padding-left: 3px;}
/***********ABOUT_area**********/
#padding_about{padding:80px 0;background:url(../img/asanoha-400px.png)}
.about-area{ }
.about-text{margin-top: 40px;}
.about-text p{font-size: 16px;
color: #4C4C4C;}
.about-title {
color: #CC9900;
background: url(../img/11.png);
background-repeat: no-repeat;
background-position: center bottom;
padding-bottom: 40px;
margin-bottom: 30px;
font-size: 36px;
text-align:center;

}
.about-img{}
.about-img img{}
.about2-img{}
.about2-img img{}
/**********Igredients-area**********/
.Igredients-area{padding:100px 0; position:relative;}
.illi-bg {position:absolute;top:0;
height:100%;width:100%;
left:0;background-position:cover;
}
.Igredients-bg{background-image:url(../img/restauran12t.png);}
.Igredients-text{  background:url(../img/33.png) ; padding: 44px;}

.Igredients-text p{     color: #fff;
    font-size: 16px;
    margin-bottom: 28px;}
.Igredients-text img{ }
.dddd{}
.about-title.dddd { background: rgba(0, 0, 0, 0) url("../img/restaurantaaaa.png") no-repeat scroll center bottom;
    color: #fff;
    top: 28px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
}
/**********foo-menu-item**********/

.food-menu-area{padding: 80px 0;position:relative;}
.food-menu-bg{background:url(../img/asanoha-400px.png);position:absolute;
height:100%;width:100%;top:0;left:0;}
span{float:right;}
#food-menu{}
.foo-menu-item{margin-bottom: 40px;}
.foo-menu-item  h2{color: #CC9900;
border-bottom: 1px solid #cc9900;
margin-bottom: 22px;
padding-bottom: 12px;
font-weight: 500;}
.foo-menu-item  p{font-size:15px;}
.foo-menu-item.spcial{border: 1px solid #EDE0BD;
padding: 7px;position:relative;}
.foo-menu-item.spcial::before{  
	background-color: #D6B966;
    color: #fff;
    content: "spcial";
    font-size: 17px;
    padding: 2px 15px;
    position: absolute;
    right: -1px;
    top: -29px;
	}
.foo-menu-item p{margin:0;}

.tesmonial-arae{padding:80px 0;
	position:relative;
}
.item p {
    color: #fff;
    font-size: 24px;
    padding: 25px;
	margin-top:-21px;
}
.tesmonial-text::after {
    background: black none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.tesmonial-text{position:relative;font-size:18px;z-index:1;
padding:25px;}
.tesmonial-text::after{position:absolute;z-index:-1;}
.tesmonial-bg{background:url(../img/restaurant555.png) no-repeat;width:100%;height:100%;
position:absolute;top:0;left:0;background-size:cover;
}

.contact-us-area{background:url(../img/bacgo.png);}
.contat-img img {
    margin-left: 30px;
    width: 245px;
}
.section-padding {
    padding: 80px 0;
}
.footer-widget p {
    color: #ece4e4;
    text-align: center;
    font-size: 14px;
}
.footer-cards {
    text-align: center;
    color: white;
    font-size: 23px;
}
.footer-icon{
    text-align: center;
}
.footer-icon i{
    font-size: 23px ;
    color: white;

}
label{color:#D4BA7A;}
.footer-area {
    background: black none repeat scroll 0 0;
    padding: 80px;
    margin-top: -24px;
    padding-left: 158px;
}

button.btn.btn-default {
    margin-top: 18px;
    padding: 14px;
    font-size: 16px;
    margin-left: -16px;
}
.contact-from {
    width: 940px;
}